
#Virtual Environment
venv/
DNA/__pycache__/
DNA/Scripts/
DNA/pyvenv.cfg
DNA/Lib/site-packages/
MERAKI/__pycache__/
MERAKI/Scripts/
MERAKI/pyvenv.cfg
MERAKI/Lib/site-packages/
ANSIBLE/__pycache__/
ANSIBLE/Scripts/
ANSIBLE/pyvenv.cfg
ANSIBLE/Lib/site-packages/
SDWAN/__pycache__/
SDWAN/Scripts/
SDWAN/pyvenv.cfg
SDWAN/Lib/site-packages/
RESTCONF/__pycache__/
RESTCONF/Scripts/
RESTCONF/pyvenv.cfg
RESTCONF/Lib/site-packages/